<div class="eclipse-guilds-page">

<div class="TableContainer">
	<div class="CaptionContainer">
		<div class="CaptionInnerContainer">
			<span class="CaptionEdgeLeftTop" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionEdgeRightTop" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionBorderTop" style="background-image:url(https://static.tibia.com/images/global/content/table-headline-border.gif);"></span>
			<span class="CaptionVerticalLeft" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-vertical.gif);"></span>
			<div class="Text">Guilds Ativas no {{ config.lua.serverName }}</div>
			<span class="CaptionVerticalRight" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-vertical.gif);"></span>
			<span class="CaptionBorderBottom" style="background-image:url(https://static.tibia.com/images/global/content/table-headline-border.gif);"></span>
			<span class="CaptionEdgeLeftBottom" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionEdgeRightBottom" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-edge.gif);"></span>
		</div>
	</div>
	<table class="Table3" cellpadding="0" cellspacing="0">
		<tbody>
		<tr>
			<td>
				<div class="InnerTableContainer">
					<table style="width:100%;">
						<tbody>
						<tr>
							<td>
								<div class="TableContentContainer">
									<table class="TableContent myaac-table" width="100%" style="border:1px solid #faf0d7;">
										<tbody>
										{% if guilds|length > 0 %}
										<tr class="LabelH">
											<td style="width: 80px; text-align: center">Logo</td>
											<td>Descricao</td>
											<td style="width: 100px; text-align: center">Acoes</td>
										</tr>

										{% set i = 0 %}
										{% for guild in guilds %}
											{% set i = i + 1 %}
											<tr>
												<td style="text-align: center; padding: 10px;">
													<img src="{{ constant('GUILD_IMAGES_DIR') }}{{ guild.logo }}" width="64" height="64" alt="{{ guild.name }}" style="border: 1px solid #d4c0a1;">
												</td>
												<td style="word-break: break-word; padding: 10px;">
													<div style="margin-bottom: 5px;">
														<a href="{{ guild.link }}" style="font-size: 14px; font-weight: bold;">{{ guild.name }}</a>
														{% if isAdmin %}
															<a href="{{ getLink('guilds') }}?action=delete_by_admin&guild={{ guild.name }}" style="color: #b41414; font-size: 11px; margin-left: 10px;">[Deletar]</a>
														{% endif %}
													</div>
													{% if guild.description is not empty %}
													<div style="color: #5a4a3a; font-size: 12px; line-height: 1.4;">
														{{ guild.description }}
													</div>
													{% endif %}
												</td>
												<td style="text-align: center;">
													<a href="{{ guild.link }}" class="eclipse-btn-small">Ver Guild</a>
												</td>
											</tr>
										{% endfor %}
										{% else %}
										<tr>
											<td colspan="3" style="text-align: center; padding: 30px;">
												<div style="margin-bottom: 15px;">
													<strong>Nenhuma guild ativa no servidor.</strong>
												</div>
												{% if logged %}
												<div style="color: #666; margin-bottom: 15px;">
													Seja o primeiro a criar uma guild!
												</div>
												<a href="{{ getLink('guilds') }}?action=create" class="eclipse-btn">Criar Guild</a>
												{% else %}
												<div style="color: #666;">
													Faca login para criar a primeira guild do servidor.
												</div>
												{% endif %}
											</td>
										</tr>
										{% endif %}
										</tbody>
									</table>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>

{% if guilds|length > 0 and logged %}
<div class="TableContainer" style="margin-top: 15px;">
	<div class="CaptionContainer">
		<div class="CaptionInnerContainer">
			<span class="CaptionEdgeLeftTop" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionEdgeRightTop" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionBorderTop" style="background-image:url(https://static.tibia.com/images/global/content/table-headline-border.gif);"></span>
			<span class="CaptionVerticalLeft" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-vertical.gif);"></span>
			<div class="Text">Acoes</div>
			<span class="CaptionVerticalRight" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-vertical.gif);"></span>
			<span class="CaptionBorderBottom" style="background-image:url(https://static.tibia.com/images/global/content/table-headline-border.gif);"></span>
			<span class="CaptionEdgeLeftBottom" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionEdgeRightBottom" style="background-image:url(https://static.tibia.com/images/global/content/box-frame-edge.gif);"></span>
		</div>
	</div>
	<table class="Table1" cellpadding="0" cellspacing="0">
		<tbody>
		<tr>
			<td>
				<div class="InnerTableContainer" style="padding: 15px; text-align: center;">
					<a href="{{ getLink('guilds') }}?action=create" class="eclipse-btn">Criar Nova Guild</a>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
{% endif %}

</div>
