{% set title = 'Últimas Mortes' %}
{% set content %}

<div class="eclipse-lastkills-page">
	<div class="lastkills-intro">
		<strong>Últimas Mortes</strong>
		<span>Veja os acontecimentos mais recentes do Eclipse OT.</span>
	</div>

	<div class="TableContainer">
		<div class="CaptionContainer">
			<div class="CaptionInnerContainer">
				<span class="CaptionEdgeLeftTop"
					  style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
				<span class="CaptionEdgeRightTop"
					  style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
				<span class="CaptionBorderTop"
					  style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
				<span class="CaptionVerticalLeft"
					  style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
				<div class="Text">Registro de Mortes</div>
				<span class="CaptionVerticalRight"
					  style="background-image:url({{ template_path }}/images/global/content/box-frame-vertical.gif);"></span>
				<span class="CaptionBorderBottom"
					  style="background-image:url({{ template_path }}/images/global/content/table-headline-border.gif);"></span>
				<span class="CaptionEdgeLeftBottom"
					  style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
				<span class="CaptionEdgeRightBottom"
					  style="background-image:url({{ template_path }}/images/global/content/box-frame-edge.gif);"></span>
			</div>
		</div>

		<table class="Table3" cellpadding="0" cellspacing="0">
			<tbody>
			<tr>
				<td>
					<div class="InnerTableContainer">
						<table style="width:100%;">
							<tbody>
							<tr>
								<td>
									<div class="TableContentContainer">
										<table class="TableContent lastkills-table" width="100%" style="border:1px solid #faf0d7;">
											<tbody>
											<tr class="LabelH">
												<td class="lastkills-rank">#</td>
												<td class="lastkills-time">Horário</td>
												<td>Ocorrência</td>
												{% if config.multiworld %}
													<td class="lastkills-world">Mundo</td>
												{% endif %}
											</tr>

											{% if lastkills|length <= 0 %}
												<tr>
													<td colspan="100%" class="lastkills-empty">
														Nenhuma morte registrada em {{ config.lua.serverName }}.
													</td>
												</tr>
											{% else %}
												{% for lastkill in lastkills %}
													<tr>
														<td class="lastkills-rank">
															<span>{{ lastkill.id }}</span>
														</td>
														<td class="lastkills-time">
															{{ lastkill.time|date("d/m/Y H:i:s") }}
														</td>
														<td class="lastkills-description">
															{{ lastkill.killers_string|raw }}
														</td>
														{% if config.multiworld %}
															<td class="lastkills-world">
																{{ lastkill.world_id }}
															</td>
														{% endif %}
													</tr>
												{% endfor %}
											{% endif %}
											</tbody>
										</table>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

{% endset %}
{% include 'tables.headline.html.twig' %}
