<div class="eclipse-success-page">
	<div class="eclipse-success-panel">
		<div class="eclipse-success-title">{{ title|raw }}</div>
		<div class="eclipse-success-body">
			{{ description|raw }}
		</div>
	</div>

	{% if custom_buttons is defined %}
		<div class="eclipse-success-actions">
			{{ custom_buttons|raw }}
		</div>
	{% else %}
		<div class="eclipse-success-actions">
			<form action="{{ getLink('account/manage') }}" method="post">
				{{ csrf() }}
				{{ include('buttons.back.html.twig') }}
			</form>
		</div>
	{% endif %}
</div>
